@import "./utils/variables";
@import "./layout/header";
@import "./layout/location";
@import "./layout/explore";
@import "./components/button";
@import "./layout/tutorial";
@import "./components/HomepageSectionTitle";
@import "./layout/restaurants";
@import "./layout/footer";
@import "./components/hearth-icon";
@import "./components/loader";



* {
    font-family: $main-font;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}