.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lighten($background-color, 5%);
    padding: 50px 30px 50px 30px;
    gap: 25px;

    h1 {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        text-align: center;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;

        @media (min-width:1024px) {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.13rem;
        font-weight: $font-weight-light;
        text-align: center;
        margin: 0;
    }

}