.footer {
    display: flex;
    flex-direction: column;
    background-color: darken($background-color, 80%);
    color: white;

    &__title {
        font-family: $secondary-font;
        font-size: 3rem;
        font-style: italic;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;

        .footer__content__element {
            display: flex;
            font-size: 2rem;
            font-weight: $font-weight-medium;

            p {
                margin: 0;
            }

        }

        .footer__content__element--icon {
            gap: 40px;
            font-weight: $font-weight-bold;

            i {
                width: 11px;
                height: 13px;
            }
        }
    }
}