.restaurants {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: lighten($background-color, 5%);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.restaurants__card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px;
    position: relative;

    @media (min-width: 768px) {
        width: calc(50% - 25px);
    }

    img {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        height: 150px;
    }

    &--new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.88rem;
        font-weight: $font-weight-bold;
        color: darken($tertiary-color, 30%);
        background-color: $tertiary-color;
        width: 80px;
        height: 29px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        &__text {
            h3 {
                font-size: 1.13rem;
                font-weight: $font-weight-bold;
                margin: 0;
            }

            p {
                font-size: 1.06rem;
                font-weight: $font-weight-light;
                margin: 0;
            }
        }
    }
}