.tutorial {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        &__step {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 100px;
            background-color: lighten($background-color, 5%);
            border-radius: 20px;
            font-size: 2rem;
            font-weight: $font-weight-bold;

            &__number {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                color: white;
                background-color: $primary-color;
                border-radius: 50%;
                position: relative;
                left: -25px;
            }

            &__icon {
                color: darken($background-color, 20%);
            }
        }
    }
}