.tutorial {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;

    &__content {
        display: flex;
        flex-direction: column;

        &__step {
            display: flex;
            flex-direction: row;
        }
    }
}