.hearth-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    transition: opacity 250ms;

    &:hover {
        .hearth-icon__full {
            opacity: 1;
        }
    }

    &__full {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: 0;
        transition: opacity 250ms;

        i {
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}