.loader {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    z-index: 200;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: loader 0ms 3000ms forwards ease-in-out;

    &__circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: loader__circle 600ms backwards ease-in-out infinite alternate;

        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 50ms * $i;
            }
        }

        &--1 {
            background-color: $primary-color;
        }

        &--2 {
            background-color: $secondary-color;
        }

        &--3 {
            background-color: $tertiary-color;
        }
    }
}

@keyframes loader__circle {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200%);
    }
}

@keyframes loader {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-9999999999px);
    }
}