.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    &__title {
        h2 {
            font-size: 1rem;
            font-weight: $font-weight-light;
            margin: 0;
        }
    }

    &__title-decoration {
        background-color: $tertiary-color;
        width: 40px;
        height: 3px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        &__card {
            background-color: white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;

            &:hover > .Menu__content__card__check {
               transform: scaleX(1);
            }

            &__text {
                padding-left: 10px;
                
                h3 {
                    font-size: 1.13rem;
                    font-weight: $font-weight-bold;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: 0.94rem;
                    font-weight: $font-weight-light;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__price {
                align-self: flex-end;
                margin-left: auto;
                margin-right: 10px;

                p {
                    font-size: 0.94rem;
                    font-weight: $font-weight-bold;
                }
            }

            &__check {
                background-color: $tertiary-color;
                color: white;
                font-size: 20px;
                border-radius: 0 15px 15px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 59px;
                transform: scaleX(0);
                transition: transform 300ms ease-in-out;
                transform-origin: right center;
            }
        }
    }
}



