.Pages-LinkToHomepage {
    position: relative;
    right: 80px;
    @media (min-width: 768px) {
        right: calc(50% - 80px);
    }

    a {
        color: black;
    }

    i {
        font-size: 20px;
    }
}