.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    &__title {
        h2 {
            font-size: 1rem;
            font-weight: $font-weight-light;
            margin: 0;
        }
    }

    &__title-decoration {
        background-color: $tertiary-color;
        width: 40px;
        height: 3px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        overflow: hidden;

        &__card {
            background-color: white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            overflow: hidden;
            animation: menu 1000ms cubic-bezier(.17,.81,.79,.84);

            &:hover > .Menu__content__card__check {
                animation: check 500ms forwards ease-in-out;
            }

            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: 100ms * $i;
                }
            }

            &__text {
                padding-left: 10px;
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                
                h3 {
                    font-size: 1.13rem;
                    font-weight: $font-weight-bold;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: 0.94rem;
                    font-weight: $font-weight-light;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__price {
                align-self: flex-end;
                margin-left: 5%;
                margin-right: 2%;

                p {
                    font-size: 0.94rem;
                    font-weight: $font-weight-bold;
                }
            }

            &__check {
                background-color: $tertiary-color;
                color: white;
                font-size: 20px;
                border-radius: 0 15px 15px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 59px;
                margin-right: -59px;
            }
        }
    }
}

@keyframes check {
    0% {
        margin-right:-59px;
    }

    100% {
        margin-right: 0;
    }
}

@keyframes menu {
    0% {
        transform: translateY(-216px);
    }
    
    100% {
        transform: translateY(0);
    }
}






