/*Color*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #EAEAEA;

/*Font-family*/

$main-font: 'Roboto, sans-serif';
$secondary-font: 'Shrikhand';

/*Font-weight only for main-font*/

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;